@page
@model Popple.Pages.FavoritesModel

@{
    ViewData["Title"] = "Favorites";
}

<hr />

<h1>Here are your favorites!</h1>

@if (ViewData.ContainsKey("FavoritesWithCreator")) {
    <table class="table">
        <thead>
            <tr>
                <th>
                    Comic Name
                </th>
                <th>
                    Comic's Creator
                </th>
                <th>
                    URL to Comic
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var favoriteWithCreator in ViewData["FavoritesWithCreator"] as IEnumerable<dynamic>) {
                <tr>
                    <td>
                        @favoriteWithCreator.ComicName
                    </td>
                    <td>
                        @favoriteWithCreator.Username
                    </td>
                    <td>
                        <a href="/@favoriteWithCreator.Username/@favoriteWithCreator.ComicName">Go to Comic</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>You don't have any favorites yet.</p>
}
