@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @{
        String ?sessionUser = HttpContext.Session.GetString("Username");
        if (String.IsNullOrEmpty(sessionUser)) 
            sessionUser = "Guest";
    }
    <h1 class="display-4">Welcome @sessionUser to Popple!</h1>
    
    <p>A place to upload and view your favorite webcomics</p>
</div>
