@page
@model LoginModel
@{
    ViewData["Title"] = "Login Page";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
  <form method="post">
        <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <label>
          <input type="checkbox" checked="unchecked" name="remember"> Remember me
        </label>
    </form>
    <p>Don't have an account? <a asp-area="" asp-page="/Accounts/Create">Create Account</a>.</p>
</div>